@import (less) 'tachyons.css';
@import (less) 'colors.css';
@import (less) 'btns.css';
@import 'fonts.less';

/* User Agent Overrides */
h1 {
  margin: 0;
}

.ulink {
  border-bottom-style: solid;
  border-bottom-width: 0.125rem;
  border-bottom-color: transparent;
}

.ulink:hover {
  border-bottom-style: solid;
  border-bottom-width: 0.125rem;
  border-bottom-color: inherit;
}
