<a class="sndcld-ply-btn {{pausedClass}}" {{action 'togglePlay' on='click'}}>
    <div class="sndcld-ctrllr-l"></div>
    <div class="sndcld-ctrllr-r"></div>
    <div class="sndcld-ctrllr-trngl--1"></div>
    <div class="sndcld-ctrllr-trngl--2"></div>
</a>
<div><p>This a track</p></div>
