# compiled output
/dist
/tmp

# dependencies
/node_modules
/bower_components
/lib/*/node_modules

# misc
/.idea
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log

