
{{#popo/e-sctn}}
    <h1 class="tc f-headline">TWO-MINUTE PERSONALITY TEST</h1>

    <h2 class="tc f4 f4-ns lh-copy">by JONATHAN SAFRAN FOER</h2>

    <div class="ph7 josefin-sans-regular">
        <p class="f4 lh-copy">
            What’s the kindest thing you almost did? Is your fear of insomnia stronger than your fear
            of what awoke you? Are bonsai cruel? Do you love what you love, or just the feeling? Your earliest memories:
            do you look through your young eyes, or look at your young self? Which feels worse: to know that there are
            people who do more with less talent, or that there are people with more talent? Do you walk on moving
            walkways? Should it make any difference that you knew it was wrong as you were doing it? Would you trade
            actual intelligence for the perception of being smarter? Why does it bother you when someone
            How many years of your life would you trade for the greatest month of your life?
            at the next table is having a conversation on a cell phone? How many years of your life would you trade for
            the greatest month of your life? What would you tell your father, if it were possible? Which is changing
            faster, your body, or your mind? Is it cruel to tell an old person his prognosis? Are you in any way angry
            at your phone? When you pass a storefront, do you look at what’s inside, look at your reflection, or
            neither? Is there anything you would die for if no one could ever know you died for it? If you could be
            assured that money wouldn’t make you any small bit happier, would you still want more money? What has been
            irrevocably spoiled for you? If your deepest secret became public, would you be forgiven? Is your best
            friend your kindest friend? Is it in any way cruel to give a dog a name? Is there anything you feel a need
            to confess? You know it’s a “murder of crows” and a “wake of buzzards” but it’s a what of ravens, again?
            What is it about death that you’re afraid of? How does it make you feel to know that it’s an “unkindness
            of ravens”?
        </p>
    </div>
{{/popo/e-sctn}}

{{#popo/e-sctn font='cabin-bold' bg-color='bg-purple'}}
    <h1 class="tc f-headline">Two-Minute Seduction</h1>

    <h2 class="tc f4 f4-ns lh-copy">By Toni Morrison</h2>

    <div class="ph7 josefin-sans-regular">
        <p class="f4 lh-copy">
            I took my heart out and gave it to a writer made heartless by fame, someone who needed it to pump blood into
            veins desiccated by the suck and roar of crowds slobbering or poisoning or licking up the red froth they
            mistake for happiness because happiness looks just like a heart painted on a valentine cup or tattooed on an
            arm that has never held a victim or comforted a hurt friend. I took it out and the space it left in my chest
            was sutured tight like the skin of a drum.

            As my own pulse failed, I fell along with a soft shower of rain typical in this place.

            Lying there, collapsed under trees bordering the mansion of the famous one I saw a butterfly broken by the
            slam of a single raindrop on its wings fold and flutter as it hit a pool of water still fighting for the
            lift that is its nature. I closed my eyes expecting to dissolve into stars or lava or a brutal sequoia when
            the famous writer appeared and leaned down over me. Lifting my head he put his lips on mine and breathed
            into my mouth one word and then another, and another, words upon words then numbers, then notes. I swallowed
            it all while my mind filled with language, measure, music, knowledge.

            These gifts from the famous writer were so seductive, so all encompassing they seemed to make a heart
            irrelevant.
        </p>
    </div>
{{/popo/e-sctn}}

{{#popo/e-sctn font='cabin-bold' bg-color='bg-yellow'}}
    <h1 class="tc f-headline">Blockquotes</h1>

    <div class="ph7 josefin-sans-regular">
        <blockquote class="f3">
            Before trips to the grocery store, I’ll waste minutes debating whether it is more
            efficient to make a list, or simply race up and down the aisles grabbing things. I spend what feels like
            decades in airport security lines trying to figure out how to get through most quickly: should I put the
            plastic bin containing my belt and shoes through the bomb detector before my carry-on bag, or after? And why
            sit patiently waiting for the light to turn green when I might email on my phone? I’ve become more worried
            about using time efficiently than using it well. But in saner moments I’m able to approach the fourth
            dimension not as a thing to be ruthlessly managed, but whose basic nature might be altered to enrich my
            experience of life. I even have tricks for slowing time—or at least my perception of it. At night I
            sometimes write down things that happened that day.
        </blockquote>
        <h2 class="f2">~ Michael Lewis</h2>
        <blockquote class="f3 measure">
            Before trips to the grocery store, I’ll waste minutes debating whether it is more
            efficient to make a list, or simply race up and down the aisles grabbing things. I spend what feels like
            decades in airport security lines trying to figure out how to get through most quickly: should I put the
            plastic bin containing my belt and shoes through the bomb detector before my carry-on bag, or after? And why
            sit patiently waiting for the light to turn green when I might email on my phone? I’ve become more worried
            about using time efficiently than using it well. But in saner moments I’m able to approach the fourth
            dimension not as a thing to be ruthlessly managed, but whose basic nature might be altered to enrich my
            experience of life. I even have tricks for slowing time—or at least my perception of it. At night I
            sometimes write down things that happened that day.
        </blockquote>
        <h2 class="f2">~ Michael Lewis</h2>
        <blockquote class="f3 measure lh-copy">
            Before trips to the grocery store, I’ll waste minutes debating whether it is more
            efficient to make a list, or simply race up and down the aisles grabbing things. I spend what feels like
            decades in airport security lines trying to figure out how to get through most quickly: should I put the
            plastic bin containing my belt and shoes through the bomb detector before my carry-on bag, or after? And why
            sit patiently waiting for the light to turn green when I might email on my phone? I’ve become more worried
            about using time efficiently than using it well. But in saner moments I’m able to approach the fourth
            dimension not as a thing to be ruthlessly managed, but whose basic nature might be altered to enrich my
            experience of life. I even have tricks for slowing time—or at least my perception of it. At night I
            sometimes write down things that happened that day.
        </blockquote>
        <h2 class="f2">~ Michael Lewis</h2>
		{{#each quotables as |quotable|}}
			{{popo/e-blckqt quote=quotable}}
		{{/each}}
    </div>
{{/popo/e-sctn}}