<header class="w-90 db relative ph6 pt3-ns pb4 f3">
    <div class="db relative pl6">
        <section class="w4 absolute left-0 top-0">
			{{#link-to 'index' class='h4 db bb b--white no-underline f1 fw9 lh-solid white'}}Makeshift{{/link-to}}
        </section>

        <section class="db">
            <span>
				<div class="br b--white">
                    <h2 class="h2 db fl ma0 pa3 bl b--white fs-normal tracked">
						{{#link-to 'index' class='f4 no-underline white'}}A field guide to hidden creativity{{/link-to}}
                    </h2>

                    <nav class="db relative fr pt3-ns pb4">
                        <div class="h2 dib fl ph2 bl">
							{{#link-to 'index' class='dib ph1 f4 white'}}Twitter{{/link-to}}
							{{#link-to 'index' class='dib ph1 f4 white'}}Facebook{{/link-to}}
							{{#link-to 'index' class='dib ph1 f4 white'}}Instagram{{/link-to}}
							{{#link-to 'index' class='dib ph1 f4 white'}}Youtube{{/link-to}}
                        </div>

					<span class="h2 fr ph2 pb1 b--white normal tracked">
						{{#link-to 'index' class='dib ph1 f4 white'}}Log in{{/link-to}}
                    </span>
                    </nav>
				</div>

              	<nav class="db cb bt bb br b--white">
					{{#link-to 'index' class='dib ph1 f4 white'}}On Assignment{{/link-to}}
					{{#link-to 'index' class='dib ph1 f4 white'}}Partnerships{{/link-to}}

                    <a href="http://mkshft.org/partners" class="nav-block">Partnerships</a>

                                  <span class="nav-block is-field">
                    <form action="http://mkshft.us4.list-manage.com/subscribe/post?u=193b8d6ff8aeac489f2f5608e&amp;id=2ec6a2e472"
                          method="post" name="mc-embedded-subscribe-form" class="js-newsletter-form">
                        <input type="email" name="EMAIL" placeholder="NEWSLETTER" required="">
                        <input type="checkbox" name="group[12661][1]" value="1" class="is-hidden" checked="checked">
                        <input type="checkbox" name="group[12661][2]" value="1" class="is-hidden" checked="checked">
                        <button class="ss-icon ss-gizmo header-field-button" name="subscribe">email</button>
                    </form>
                  </span>

                <span class="nav-block is-field">
                  <form class="header-search-form" action="http://mkshft.org/" role="search">
                      <input type="text" placeholder="SEARCH" name="s" value="">
                      <button class="ss-icon ss-gizmo header-field-button">Search</button>
                  </form>
                </span>
              </nav>
            </span>
        </section>

        <div class="header-issues aliased">
            <a href="http://mkshft.org/cart/" class="cart-link"><span class="ss-icon ss-gizmo">cart</span> 0</a>
            <span class="js-issues-toggle issues-toggle">Issues</span>
        </div>
    </div>
</header>