<header class="pv7 v-mid">
    <h1 class="tc f-headline">BORG</h1>

    <h2 class="tc f5 f5-ns lh-copy">A tachyons playground</h2>
</header>

<section class="v-mid amatic-regular bg-white black">
    <div class="dt w-100">
        <div class="dtc w-25 ph3 pv6 v-mid bg-white black">
				<h1 class="f-subheadline bb bw2">
					PROJECT ALFA
				</h1>
            <h2 class="f4 f4-ns lh-copy josefin-sans-semi-bold">Work in Progress</h2>
            <p class="f5 josefin-sans-regular lh-copy">
				This one is for the soundcloud review site. Curator site. This is going to be fucking A.
			</p>
			{{#link-to 'project-alpha' class="btn btn--s btn--black	"}}Go ▸{{/link-to}}
        </div>
        <div class="dtc w-25 ph3 pv6 v-mid bg-white black">
            <h1 class="f-subheadline bb bw2">
                PROJECT BRAVO
            </h1>
            <h2 class="f4 f4-ns lh-copy josefin-sans-semi-bold">Work in Progress</h2>
            <p class="f5 josefin-sans-regular lh-copy">
                This one is a haiku helper site. Helps you write haikus.
            </p>
			{{#link-to 'project-beta' class="btn btn--s btn--black	"}}Go ▸{{/link-to}}
        </div>
        <div class="dtc w-25 ph3 pv6 v-mid bg-white black">
            <h1 class="f-subheadline bb bw2">
                PROJECT CHARLIE
            </h1>
            <h2 class="f4 f4-ns lh-copy josefin-sans-semi-bold">Work in Progress</h2>
            <p class="f5 josefin-sans-regular lh-copy">
                ember-soundcloud-widget
            </p>
			{{#link-to 'project-charlie' class="btn btn--s btn--black	"}}Go ▸{{/link-to}}
        </div>
        <div class="dtc w-25 ph3 pv6 v-mid bg-white black">
            <p class="f3 tc lh-copy mvn f5 f4-ns">  Accessibility is important!  Mix and match these color classes to create a variety of accessible themes.</p>
        </div>
    </div>
</section>

<section class="pv7 v-mid amatic-regular bg-teal">
    <h1 class="tc f-headline">Article 1</h1>
    <h2 class="tc f4 f4-ns lh-copy">A tachyons playground</h2>
	<div class="ph7 josefin-sans-regular">
		<p class="f4 lh-copy">Traditional publishing formats like newspapers and magazines offer good examples of how to apply a visual hierarchy to fonts. They combine fonts in way that visually separates different textual elements like headlines, sub-headlines, body copy, and captions. Qualities such as size, boldness (also known as “weight”), and spacing (including leading, the space between lines, and kerning, the space between letters) all contribute to how the eye should navigate the page and what text should attract attention first.</p>
	</div>
</section>

<section class="pv7 v-mid cabin-bold bg-purple">
    <h1 class="tc f-headline">Article 2</h1>
    <h2 class="tc f4 f4-ns lh-copy">A tachyons playground</h2>
    <div class="ph7 josefin-sans-regular">
        <p class="f4 lh-copy">Traditional publishing formats like newspapers and magazines offer good examples of how to apply a visual hierarchy to fonts. They combine fonts in way that visually separates different textual elements like headlines, sub-headlines, body copy, and captions. Qualities such as size, boldness (also known as “weight”), and spacing (including leading, the space between lines, and kerning, the space between letters) all contribute to how the eye should navigate the page and what text should attract attention first.</p>
    </div>
</section>

