<header class="pt7">
    <h1 class="tc f-headline v-mid">BORG</h1>

    <h2 class="tc f4 f4-ns lh-copy">A tachyons playground</h2>
    <ul class="list pa3 pa5-ns mb0">
        <li class="dib mr2">
			{{#link-to 'fontPairs' class='f4 f2-ns b db pa2 link dim white'}}font pairs{{/link-to}}
        </li>
    </ul>
</header>