<header class="pv7 v-mid abril-fatface-regular">
    <h1 class="tc f-headline">C. H. A. R. L. I. E.</h1>

    <h2 class="tc f5 f5-ns lh-copy">Soundcloud Widget</h2>
</header>

<section class="mw5 mw7-ns center pa3 ph5-ns bg-white black abril-fatface-regular">
	<div class="pb3 pt3">
		{{soundcloud-widget}}
	</div>
</section>