<header class="pv7 v-mid abril-fatface-regular">
    <h1 class="tc f-headline">A. L. P. H. A</h1>

    <h2 class="tc f5 f5-ns lh-copy">Curated Music Lists</h2>
</header>

<section class="mw5 mw7-ns center pa3 ph5-ns bg-white black abril-fatface-regular">
    <h1 class="tc f-headline">Vargo</h1>
    <h2 class="tc f4 f4-ns lh-copy josefin-sans-regular">Curated Songs Weekly.</h2>
    <div class="tc pb3 pt3 josefin-sans-bold">
        <a class="ulink black f6 f5-ns dib mr3" href="#" title="Home">HOME</a>
        <a class="ulink black f6 f5-ns dib mr3" href="#" title="About">SUBMIT</a>
        <a class="ulink black f6 f5-ns dib" href="#" title="Contact">ABOUT</a>
    </div>
	<h3 class="f3">Edition #1</h3>
    <div class="josefin-sans-regular">
        <p class="f4 lh-copy">Traditional publishing formats like newspapers and magazines offer good examples of how to apply a visual hierarchy to fonts. They combine fonts in way that visually separates different textual elements like headlines, sub-headlines, body copy, and captions. Qualities such as size, boldness (also known as “weight”), and spacing (including leading, the space between lines, and kerning, the space between letters) all contribute to how the eye should navigate the page and what text should attract attention first.</p>
    </div>
</section>